apiVersion: apps/v1
kind: Deployment
metadata:
  name: webapp
spec:
  selector:
    matchLabels:
      app: webapp
  template:
    metadata:
      labels:
        app: webapp
    spec:
      containers:
      - image: Containerregistry077.azurecr.io/webapp100:latest
        name: webapp
        ports:
        - containerPort: 80
          name: webapp        